/* Top Section Styles */

* {
  scroll-behavior: smooth;
}

.App-header {
  background-image: linear-gradient(360deg, #1f1d25, rgb(4, 4, 20));
  background-size: cover;
  min-height: 100vh;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
  align-items: center;
}

.about h1 {
  font-size: 10vw;
  margin-top: 200px;
  animation: fadeIn 3s;
  font-family: "Poppins";
  letter-spacing: 2.2px;
}


.about h3 {
  box-shadow: 0 10px 20px rgb(69, 33, 112);
  background-color: transparent;
  border-radius: 15px;
  animation: fadeIn 3s;
  animation-delay: 1s;
  animation-fill-mode: both;
  font-size: 22px;
  font-family: "FiraMono";
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.aboutMe {
  animation: fadeIn 3s;
  animation-delay: 2s;
  animation-fill-mode: both;
  font-size: 100%;
  font-family: "FiraMono";
  border:1px solid rgb(69, 33, 112);
  word-break: keep-all;
  margin: 100px;
  margin-top: 150px;
  padding: 10px;
  border-radius: 10px;
}

@keyframes fadeIn {
  0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


.terminal {
  animation: blink 1s infinite step-end;
  background-color: grey;
  font-size: x-large;
 }
 
 @keyframes blink {
   from, to { opacity: 0; }
   
   50% {opacity: 1;}
 }



/* Tech Stack Styles */

.list {
  padding: 0px;
}

.tech {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  justify-items: center;
  background-color: #222;
  min-height: 75vh;
  background-image: linear-gradient(180deg, #1f1d25, #121212);
  border:1px solid rgb(69, 33, 112);
}


.frontEnd { 
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 25%;
  padding: 10px;
  border-radius: 10px;
}

.frontEnd h2 {
  text-align: center;
  padding: 5px;
  border-bottom: 3px solid white;
  word-wrap: normal;
  font-family: "Poppins";
  font-size: 2.5vw;
}

.frontEnd li {
  text-align: center;
  list-style: none;
  padding: 13px;
  border-radius: 15px;
  word-wrap:normal;
  border: 1px dotted grey;
  margin: 5px;
  font-family: "FiraMono";
  font-size: 1.75vw;
}

.frontEnd li:hover {
  box-shadow: 0 0 75px rgb(205, 110, 205); 
  transition: ease-in-out 0.5s;
  color: lightgreen
}


.backEnd { 
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 25%;
  padding: 10px;
  border-radius: 10px;
}

.backEnd h2 {
  text-align: center;
  padding: 5px;
  border-bottom: 3px solid white;
  word-wrap: normal;
  font-family: "Poppins";
  font-size: 2.5vw;
}

.backEnd li {
  text-align: center;
  list-style: none;
  padding: 13px;
  margin: 5px;
  border-radius: 15px;
  word-wrap: break-word;
  border: 1px dotted grey;
  font-family: "FiraMono";
  font-size: 1.75vw;
}

.backEnd li:hover {
  box-shadow: 0 0 75px rgb(205, 110, 205); 
  transition: ease-in-out 0.4s;

  color: lightgreen
}



.icons {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-evenly;
  justify-items: center;
  margin-top: 40px;
  border-radius: 10px;
}

.icons img {
  margin: 4px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px black;
}

.icons img:hover {
  transition: ease-in-out 0.5s;
  box-shadow: 0 0 100px rgb(205, 110, 205);
  scale: 1.7;
  animation: pulse 4s infinite linear;
}

@keyframes pulse {
  0% {
		box-shadow: 0 0 50px rgba(205, 110, 205);
	}

	50% {
		box-shadow: 0 0 60px rgba(158, 32, 158);
	}

	100% {
		box-shadow: 0 0 50px rgba(205, 110, 205);
	}
}


/* Project Styles */


.projectContainer {
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
  align-items: center;
  min-height: 75vh;
}

.projectContainer h2 {
  margin: 10px;
  padding: 50px;
  border-bottom: 4px solid white;
}

.projects {
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.buttonCenter {
  position: relative;
  width: 40%;
  left: 30%;
  border-radius: 10px;
}

.buttonCenter:hover {
  cursor: pointer;
  transition: ease-in-out 0.5s;
  background-color: rgb(69, 33, 112);

}

.fish {
  scale: 0.4;
}

/* Contact Stylings */

.contactForm {
  display: flex;
  flex-flow: column wrap;
  align-content: space-evenly;
  align-items: center;
  padding: 20px;
  margin: 40px;
}

.contactForm h3 {
  font-size: 60px;
}

.contactAlert {
  color: red;
  text-transform: capitalize;
}

/* Footer Styling */

.footer {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  padding: 20px; 
  background-color: black
}

.footerIcon {
  color: white
}


/* Fade In Styles */

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}